{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "../../static/css/bootstrap.min.css" %}">
    <link rel="shortcut icon" href="{% static "../../static/img/pyladies.jpg" %}" type="image/x-icon">
    <link rel="stylesheet" href=" {% static "../../static/js/pyladiestyle.css" %}">
    <title>Pyladies Cuba Website</title>
</head>
<body>


</body>
</html>
