{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.css" %}">
    <link rel="shortcut icon" href="{% static "img/pyladies.jpg" %}" type="image/x-icon">
    <link rel="stylesheet" href=" {% static "css/pyladiestyle.css" %}">
    {#    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">#}
    <link rel="stylesheet" href=" {% static "vendor/fontawesome/css/fontawesome.css" %}">
    <link rel="stylesheet" href=" {% static "vendor/fontawesome/css/v4-shims.css" %}">
    <title>Grupo de Pyladies en Cuba Website</title>
</head>
<body>
<header>
    <nav>
        <a href="#" id="link-inicio" class="btn-header">Inicio</a>
        <a href="#" id="link-blog" class="btn-header">Blog</a>
        <a href="#" id="link-talleres" class="btn-header">Talleres</a>
        <a href="#" id="link-eventos" class="btn-header">Eventos</a>
        <a href="#" id="link-contactos" class="btn-header">Contactos</a>
        <span>&#9776;</span>
    </nav>
    <section class="texto-header">
        <h1><strong>Pyladies Cuba</strong></h1>
        <p>Grupo de chicas aficionadas a las tecnolog&iacute;as.</p>
    </section>
    <div class="wave" style="height: 170px; overflow: hidden;">
        <svg viewBox="0 0 500 145" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.82 C188.20,185.95 303.89,-81.79 500.00,49.82 L500.00,149.50 L0.00,149.50 Z"
                  style="stroke: none; fill: #ffffff;"></path>
        </svg>
    </div>
</header>
<main class="container" role="main">
    <div class="row">
        <section class="container contenedor-sobre-nosotros" id="equipo">
            <h3 class="titulo"><strong>Nuestro equipo</strong></h3>
            <p class="after">Conoce a este equipo de gente creativa y amantes de la programaci&oacute;n en Python.</p>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top"
                         src="{% static "img/27858312_218856702013971_6661890737476021627_n.png" %}"
                         alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="{% static "img/37132264_293874714512169_9148735602718408704_o.jpg" %}"
                         alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{% static "img/member_249017581.jpeg" %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                         src="{% static "img/46523982_357624744803832_9103522542122958848_o.jpg" %}"
                         alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <section class="about" id="servicio">
            <div class="container servicio">
                <h3 class="titulo"><strong>Nuestros Servicios</strong></h3>
                <p class="after" align="center" >Siempre mejorando y creando oportunidades para todos.</p>
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="{% static "img/pyladies.jpg" %}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Creativos y Asombrosos</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="{% static "img/images.png" %}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Creativos y Asombrosos</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top"
                             src="{% static "img/27858312_218856702013971_6661890737476021627_n.png" %}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Creativos y Asombrosos</h4>
                            <p class="card-text">Text</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <section class="container taller" id="talleres">
            <h3 class="titulo"><strong> Nuestros Talleres</strong></h3>
            <p class="after">Hacemos de algo simple algo extraordinario.</p>
            <div class="card-deck">
                <div class="card">
                    <h4 class="card-title" align="center" href="#">Dise&ntilde;o</h4>
                    <img class="card-img-top" src="{% static "img/undraw_dev_focus_b9xoscale.png" %}" alt="">
                </div>
                <div class="card">
                    <h4 class="card-title" align="center" href="#">Programacion</h4>
                    <img class="card-img-top" src="{% static "img/undraw_Designer_girl_s028scale.png" %}" alt="">
                </div>
                <div class="card">
                    <h4 class="card-title" align="center" href="#">Marketing</h4>
                    <img class="card-img-top"
                         src="{% static "img/44849563_346187839280856_8698010876998844416_n.png" %}"
                         alt="">
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <section class="container contenedor-encuentranos">
            <h3 class="titulo"><strong>Donde puedes encontrarnos</strong></h3>
            <img class="encuentranos" src="{% static "img/46523982_357624744803832_9103522542122958848_o.jpg" %}"
                 alt="">
        </section>
    </div>
</main>

<footer style="background-image: linear-gradient(to right, rgba(255, 4, 50, 0.740), rgba(188, 78, 156, 0.580)), url("{% static "gradients/Shifter.jpg" %}");>
<section class="footer-social">
    <div class="mt-5 pt-5 pb-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12 about-company">
                    <h2>Heading</h2>
                    <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac
                        ante mollis quam tristique convallis </p>
                    <p>
                            <span class="fa-stack fa-1x" href="https://www.facebook.com/pyladies.cuba/">
                                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        <span class="fa-stack fa-1x" href="https://t.me/joinchat/FHuhD08MQDCH87WlRE5Z4w">
                                <i class="fab fa-telegram fa-stack-1x fa-inverse"></i>
                            </span>
                        <span class="fa-stack fa-1x" href="https://twitter.com/PyLadiesCuba">
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        <span class="fa-stack fa-1x" href="https://github.com/pyladiescuba">
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                    </p>
                </div>
                <div class="col-lg-3 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-3">Enlaces de interes</h4>
                    <ul class="m-0 p-0">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Nam mauris velit</a></li>
                        <li><a href="#">Etiam vitae mauris</a></li>
                        <li><a href="#">Fusce scelerisque</a></li>
                        <li><a href="#">Sed faucibus</a></li>
                        <li><a href="#">Mauris efficitur nulla</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                    <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
                    <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                    <p><i class="fa fa-envelope-o mr-3"></i>pyladiescuba@gmail.com</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col copyright">
                    <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>

    {#        <div class="contenedor footer">#}
    {#            <div class="marca-logo" align="left">#}
    {#                <img src="{% static "img/pyladies.jpg" %}" alt="">#}
    {#            </div>#}
    {#            <div class="iconos" align="right" >#}
    {#                <i class="fas fa-github fa-3x"></i>#}
    {#                <i class="fas fa-facebook fa-3x"></i>#}
    {#                <i class="fas fa-telegram fa-3x"></i>#}
    {#                <i class="fas fa-twitter fa-3x"></i>#}
    {#            </div>#}
    {#        </div>#}

</section>
</body>
<script src="{% static "vendor/bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "vendor/fontawesome/js/fontawesome.min.js" %}"></script>
</html>
